@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
}

.wallpaper {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.header__div {
  width: 90%;
  margin: auto;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.header__div--left {
  display: flex;
  align-items: center;
}

.header__div--pokedex {
  display: flex;
  align-items: center;
}

.header__div--pokedex > img {
  display: none;
}

.header__div--caught {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
}

.header__div--caught > img {
  width: 25px;
  margin-right: 10px;
}

.header__div--caught > p {
  margin: 0;
  color: white;
}

.search-bar {
  width: 350px; 
  border: none;
  border-bottom: 1px solid white;
  border-radius: 25px;
  height: 34px;
}

.search-bar::placeholder {
  padding-left: 10px;
}

.search-bar:focus {
  outline: none;
  padding-left: 10px;
}

.search-bar:focus::placeholder {
  color: transparent; /* Make the placeholder text transparent */
}

.main-container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: flex-end;
}

.pokebox__div {
  width: 36%;
  margin-right: 20px;
  
}

.pokebox__div--pc {
  width: 100%;
  height: 88vh;
  overflow: auto;
}

.pokebox__div--pc::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(0, 0, 0, 0.1);
  
}

.pokebox__div--pc::-webkit-scrollbar-thumb {
  background-color: gray;
}

.pokebox__div--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer ;
  height: 45px;
  border-radius: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pokebox__div--box:hover {
  background: linear-gradient(135deg, white 40% , black 40%);
}

.pokebox__div--box > h1 {
  font-size: 1em;
}

.pokebox__div--box:hover > h1 {
  color: white;
}

.pokebox__div--icon-no {
  display: flex;
  align-items: center;
}

.pokebox__div--icon-no > h1 {
  font-size: 1em;
}

.pokebox__div--icon-no > img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.pokeball--black {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.pokeball--white {
  width: 25px;
  height: 25px;
  display: none;
  margin-right: 20px;
}

.pokebox__div--box:hover .pokeball--black {
  display: none;
}

.pokebox__div--box:hover .pokeball--white {
  display: block;
}

.pokemon-details__div {
  width: 55%;
  margin-right: auto;
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-container > img {
  width: 300px;
  height: 300px;
}

.selected-pokemon-details > h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.selected-pokemon-details > p {
  font-size: 1em;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}


@media only screen and (min-width: 0) and (max-width: 575px) {

  .header__div--left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header__div--pokedex > img {
    display: block;
    cursor: pointer;

  }

  .search-container {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .main-container {
    flex-direction: column;
  }

  .pokebox__div {
    width: 100%;
  }

  .pokebox__div--pc {
    width: 100%;
    height: 200px;
    overflow: auto;
  }

}


@media only screen and (min-width: 576px) and (max-width: 767px) {

  .header__div--left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header__div--pokedex > img {
    display: block;
    cursor: pointer;

  }

  .search-container {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .main-container {
    flex-direction: column;
  }

  .pokebox__div {
    width: 100%;
  }

  .pokebox__div--pc {
    width: 100%;
    height: 200px;
    overflow: auto;
  }

}


@media only screen and (min-width: 768px) and (max-width: 991px) {

  .header__div {
    width: 80%;
  }

  .header__div--left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header__div--pokedex > img {
    display: block;
    cursor: pointer;
  }

  .search-container {
    display: none;
  }

  .search-bar {
    display: none;
  }

  .main-container {
    flex-direction: column;
    width: 80%;
  }

  .pokebox__div {
    width: 100%;
  }

  .pokebox__div--pc {
    width: 100%;
    height: 200px;
    overflow: auto;
  }

}


