@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  
  background-color: #fff;
  color: #282828;
  background-image: linear-gradient(
          115deg,
          transparent 50%,
          #fe4d3e 50% 58%,
          #fa7246 58% 100%
      ),
      radial-gradient(
          circle at 20% 70%,
          rgba(239, 208, 234, 0.9),
          rgb(234, 201, 242, 0.6),
          rgba(231, 238, 197, 0.6),
          rgb(205, 240, 219, 0.6),
          rgb(231, 237, 245, 0.6)
      );
  min-height: 100vh;
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 0;
}

.header__div {
  width: 100%;
  display: flex;
  background-color: black;
  height: 50px;
  align-items: center;
  margin-top: 10px;
  --offset: 60.8%;
  background-image: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.15) var(--offset),
      rgb(53, 53, 53) var(--offset)
  )
}

.header__div--left {
  width: 50%;
  display: flex;
  align-items: center;
}

.header__div--left > h1 {
  font-size: 1.6em;
  color: white;
  margin: 0;
  margin-left: 25px;
}

.header__div--caught {
  display: flex;
  align-items: center;
  background-color: gray;
  border-radius: 5px;
  margin-left: 75px;
}

.header__div--caught > img {
  width: 25px;
  margin-right: 10px;
}

.header__div--caught > p {
  color: white;
  margin: 0;
}

.header__div--uncaught {
  display: flex;
  align-items: center;
  background-color: gray;
  margin-left: 20px;
  border-radius: 5px;
}

.header__div--uncaught > p {
  color: white;
  margin: 0;
}

.header__div--uncaught > img {
  width: 25px;
  margin-right: 10px;
}

.header__div--right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.header__div--right > p {
  color: white;
}

.main-container {
  display: flex;
}

.pokebox__div {
  width: 30%;
}

.search-container {
  width: 100%;
}

.search-bar {
  width: 75%;
  padding: 5px;
  border: 3px solid rgb(238, 107, 47);
  color: rgb(238, 107, 47);
}

.search-bar::placeholder {
  color: rgb(238, 107, 47); 
}

.search-bar:focus {
  outline: none;
}

.pokebox__div--pc {
  width: 100%;
  height: 84vh;
  overflow: auto;
}

.pokebox::-webkit-scrollbar {
  width: 7px;
  background-color: lightgrey;
}

.pokebox::-webkit-scrollbar-thumb {
  background-color: rgb(238, 107, 47);
  border-radius: 20px;
}

.pokebox > input {
  width: 75%;
  margin: auto;
  padding: 5px;
}

.pokebox__div--icon-no {
  display: flex;
  align-items: center;
}

.pokebox__div--icon-no > h1 {
  font-size: 1em;
}

.pokebox__div--icon-no > img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.pokebox__div--box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer ;
}

.pokebox__div--box > h1 {
  font-size: 1em;
}

.pokebox__div--pokeballs {
  position: relative;
}

.pokeball--black {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.pokeball--white {
  width: 25px;
  height: 25px;
  position: absolute;
  visibility: hidden;
}

.pokemon-details__div {
  width: 55%;
  height: 60vh;
  margin-right: auto;
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected-container > img {
  width: 300px;
  height: 300px;
}

.selected-pokemon-details > h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.selected-pokemon-details > p {
  font-size: 1em;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

.footer__div {
  background-color: black;
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.footer__div--a {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.footer__div--a > h6 {
  background-color: white;
  font-size: 1em;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  margin: 0;
  margin-right: 5px;
}

.footer__div--a > p {
  color: white;
}

.footer__div--x {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.footer__div--x > h6 {
  background-color: white;
  font-size: 1em;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  margin: 0;
  margin-right: 5px;
}

.footer__div--x > p {
  color: white;
}

.footer__div--y {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.footer__div--y > h6 {
  background-color: white;
  font-size: 1em;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  margin: 0;
  margin-right: 5px;
}

.footer__div--y > p {
  color: white;
}

.footer__div--plus {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.footer__div--plus > h6 {
  background-color: white;
  font-size: 1em;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  margin: 0;
  margin-right: 5px;
}

.footer__div--plus > p {
  color: white;
}

.footer__div--b {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.footer__div--b > h6 {
  background-color: white;
  font-size: 1em;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  margin: 0;
  margin-right: 5px;
}

.footer__div--b > p {
  color: white;
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
    .pokedex {
      font-size: 5em;
    }

    .hero-banner {
      height: 50vh;
    }

    .header__div > h1 {
      font-size: 1em;
    }

    .header > button {
      font-size: 1em;
    }

    .banner-footer {
      justify-content: center;
    }

    .banner-footer > p {
      display: none;
    }

    .section--about {
      height: 30vh;
    }

    .section--about > p {
      width: 90%;
    }

    .social-logos > img {
      width: 20px;
    }

    .main-container {
      display: flex;
      
    }

    .pokebox__div {
      width: 90%;
      margin: auto;
    }

    .selected-container {
      width: 90%;
      margin: 0;
      margin: auto !important;
      margin-top: 20px !important;
      flex-direction: column;
      align-items: start;
      height: 50vh;
      position: relative;
    }
    
    .selected-pokemon-details {
      margin-left: 5%;
    }

    .selected-container > img {
      position: absolute;
      left: 35%;
      width: 200px;
      height: 200px;
    }

    .temporary-container {
      width: 90%;
      margin: auto;
      margin-top: 20px;
      height: 50vh;
    }
}

@media only screen and (min-width: 481px) and (max-width: 576px) {
  .pokedex {
    font-size: 5em;
  }

  .hero-banner {
    height: 50vh;
  }

  .header__div > h1 {
    font-size: 1em;
  }

  .header > button {
    font-size: 1em;
  }

  .banner-footer {
    justify-content: center;
  }

  .banner-footer > p {
    display: none;
  }

  .section--about {
    height: 30vh;
  }

  .section--about > p {
    width: 90%;
  }

  .social-logos > img{
    width: 25px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .pokebox__div {
    width: 90%;
    margin: auto;
  }

  .selected-container {
    width: 90%;
    margin: 0;
    margin: auto !important;
    margin-top: 20px !important;
    flex-direction: column;
    align-items: start;
    height: 50vh;
    position: relative;
  }
  
  .selected-pokemon-details {
    margin-left: 5%;
  }

  .selected-container > img {
    position: absolute;
    left: 30%;
  }

  .temporary-container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 50vh;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .pokedex {
    font-size: 5em;
  }

  .hero-banner {
    height: 50vh;
  }

  .header__div > h1 {
    font-size: 1em;
  }

  .header > button {
    font-size: 1em;
  }

  .banner-footer {
    justify-content: center;
  }

  .banner-footer > p {
    display: none;
  }

  .section--about {
    height: 30vh;
  }

  .section--about > p {
    width: 90%;
  }

  .social-logos > img {
    width: 25px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .pokebox__div {
    width: 90%;
    margin: auto;
  }

  .selected-container {
    width: 90%;
    margin: 0;
    margin: auto !important;
    margin-top: 20px !important;
    flex-direction: column;
    align-items: start;
    height: 50vh;
    position: relative;
  }
  
  .selected-pokemon-details {
    margin-left: 5%;
  }

  .selected-container > img {
    position: absolute;
    left: 30%;
  }

  .temporary-container {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    height: 50vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .temporary-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    height: 50vh;
  }

  .selected-container {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 15%;
    height: 50vh;
 
  }
}
