.no-image-card__div {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    border: none;
   
}

.no-image-card__div--top-most {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    --offset: 35.8%;
    background-image: linear-gradient(
      135deg,
      #ff3d01 var(--offset),
      rgb(0 , 0, 0) var(--offset)
  )
}

.no-image-card__div--top-most > h1 {
    font-size: 1em;
    color: white;
}

.no-image-card__div--icon-no {
    display: flex;
    align-items: center;
}

.no-image-card__div--icon-no > img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.no-image-card__div--icon-no > h1 {
    font-size: 1em;
}

.no-image-card__div--wrapper > img {
    width: 300px;
}

.no-image-card__div--details {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.no-image-card__div--left {
    width: 50%;
    text-align: center;
    background-color: lightgray;
}

.no-image-card__div--left > p {
    margin: 10px;
}

.no-image-card__div--right {
    width: 50%;
    text-align: center;
    background-color: white;
}

.no-image-card__div--right > p {
    margin: 10px;
}

.no-image-card__div--stats {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.no-image-card__div--stat {
    display: flex;
    width: 100%;
    background-color: #5a5a58;
    text-align: center;
    border-radius: 5px;
}

.no-image-card__div--stat-name {
    width: 50%;
    text-align: center;
}

.no-image-card__div--stat-name > p {
    color: white;
}

.no-image-card__div--stat-value {
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

.no-image-card__div--stat-value > p {
    color: white;
}