.pokemon-details__div {
    width: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 100px;
    border: none;
}

.pokemon-details__div--top-most {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    --offset: 35.8%;
    background-image: linear-gradient(
      135deg,
      #ff3d01 var(--offset),
      rgb(0 , 0, 0) var(--offset)
  )
}

.pokemon-details__div--top-most > h1 {
    font-size: 1em;
    color: white;
}

.pokemon-details__div--icon-no {
    display: flex;
    align-items: center;
}

.pokemon-details__div--icon-no > img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.pokemon-details__div--icon-no > h1 {
    font-size: 1em;
}

.pokemon-details__div--wrapper > img {
    width: 300px;
}

.pokemon-details__div--details {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.pokemon-details__div--left {
    width: 50%;
    text-align: center;
    background-color: lightgray;
}

.pokemon-details__div--left > p {
    margin: 10px;
}

.pokemon-details__div--right {
    width: 50%;
    text-align: center;
    background-color: white;
}

.pokemon-details__div--right > p {
    margin: 10px;
}

.pokemon-details__div--stats {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.pokemon-details__div--stat {
    display: flex;
    width: 100%;
    background-color: #5a5a58;
    text-align: center;
    border-radius: 5px;
}

.pokemon-details__div--stat-name {
    width: 50%;
    text-align: center;
}

.pokemon-details__div--stat-name > p {
    color: white;
}

.pokemon-details__div--stat-value {
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

.pokemon-details__div--stat-value > p {
    color: white;
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    .pokemon-details__div {
        width: 100%;
        height: 100%;
        margin: auto;
        left: 0;
        margin-top: 10px;
    }

    .pokemon-details__div--wrapper > img {
        width: 100px;
    }
}


@media only screen and (min-width: 480px) and (max-width: 992px) and (orientation: landscape) {
    .pokemon-details__div {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-right: 70px;
        left: 0;
        margin-top: 10px;
    }

    .pokemon-details__div--wrapper > img {
        width: 75px;
    }

    
    
}