.selected-pokemon__div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.selected-pokemon__div--main {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.selected-pokemon__div--main > button {
    display: none;
}

.selected-pokemon__div--left > img {
    width: 400px;
}

.selected-pokemon__div--right {
    position: relative;
}

.selected-pokemon__div--right > img {
    width: 30px;
    position: absolute;
    right: -200px;
    top: -100px;
    cursor: pointer;
}

@media only screen and (min-width: 360px) and (max-width: 480px) {

    .selected-pokemon__div {
        width: 100%;
        height: 100vh;
    }
    
    .selected-pokemon__div--main {
        flex-direction: column;
        width: 100%;
    }

    .selected-pokemon__div--main > button {
        display: block;
        width: 90%;
        background-color: black;
        color: white;
        padding: 15px 5px;
        margin-top: 20px;
        border: none;
        border-radius: 25px;
    }
    
    .selected-pokemon__div--left > img {
        width: 250px;
    }
    
    .selected-pokemon__div--right {
        width: 90%;
    }
    
    .selected-pokemon__div--right > img {
        display: none;
    }
}


